{% for block in section.blocks %}
  {% if block.type == 'heading' %}
    {% if block.settings.heading != blank %}
      {%- assign heading = block.settings.heading -%}
    {% else %}
      {%- assign heading = 'templates.404.subtext' | t -%}
    {% endif %}
  {% endif %}
  {% if block.type == 'text' %}
    {% if block.settings.text != blank %}
      {%- assign text = block.settings.text -%}
    {% else %}
      {%- assign text = 'templates.404.title' | t -%}
    {% endif %}
  {% endif %}
{% endfor %}


{%- capture Hero_text -%}
  {% render 'hero',
    heading: heading,
    heading_tag: 'h1',
    text: text,
    align: 'center',
    size: section.settings.text_size,
    blocks: section.blocks,
    color_scheme: section.settings.color_scheme
  %}
{%- endcapture -%}

{% if section.settings.image != blank %}
  {%- assign spaced = false -%}
  {%- assign container = false -%}
  {%- capture Caption -%}
    {% render 'floating-content',
      x: 'center',
      y: 'center',
      padded: true,
      absolute: true,
      content: Hero_text
    %}
  {%- endcapture -%}
  {%- capture Content -%}
    <div data-main-header-overlap>
      {% render 'media',
        image: section.settings.image,
        size: section.settings.image_size,
        mobile_size: section.settings.mobile_size,
        overlay: section.settings.overlay,
        placeholder: 'lifestyle',
        reveal_zoom: true,
        color_scheme: section.settings.color_scheme,
        content: Caption
      %}
    </div>
  {%- endcapture -%}
{% else %}
  {%- assign spaced = true -%}
  {%- assign container = true -%}
  {%- assign Content = Hero_text -%}
{% endif %}

{% render 'section-body',
  content: Content,
  spaced: spaced,
  container: container,
  color_scheme: section.settings.color_scheme
%}


{% schema %}
{
  "name": "404 Page",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "options": [
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        },
        {
          "value": "xl",
          "label": "Extra large"
        }
      ],
      "default": "xl"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "alt",
          "label": "Alternate"
        },
        {
          "value": "accent",
          "label": "Accent"
        },
        {
          "value": "invert",
          "label": "Inverted"
        }
      ],
      "default": "default",
      "label": "Color scheme"
    },
    {
      "type": "header",
      "content": "Image (optional)"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "image_size",
      "label": "Image size",
      "options": [
        {
          "value": "full",
          "label": "Full height"
        },
        {
          "value": "large",
          "label": "Large (70%)"
        },
        {
          "value": "medium",
          "label": "Medium (60%)"
        },
        {
          "value": "small",
          "label": "Small (50%)"
        },
        {
          "value": "16x9",
          "label": "Widescreen (16x9)"
        },
        {
          "value": "21x9",
          "label": "Ultrawide (21x9)"
        },
        {
          "value": "original",
          "label": "Original image size"
        }
      ],
      "default": "16x9"
    },
    {
      "type": "select",
      "id": "mobile_size",
      "options": [
        {
          "value": "full",
          "label": "Full height"
        },
        {
          "value": "large",
          "label": "Large (70%)"
        },
        {
          "value": "medium",
          "label": "Medium (60%)"
        },
        {
          "value": "small",
          "label": "Small (50%)"
        },
        {
          "value": "9x16",
          "label": "Instgram story (9x16)"
        },
        {
          "value": "4x5",
          "label": "Facebook feed (4x5)"
        },
        {
          "value": "original",
          "label": "Original image size"
        }
      ],
      "default": "9x16",
      "label": "Mobile image size"
    },
    {
      "type": "range",
      "id": "overlay",
      "label": "Overlay opacity",
      "unit": "%",
      "min": 0,
      "max": 90,
      "step": 5,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Custom heading text (optional)"
        }
      ]
    },
    {
      "type": "text",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Custom subheading text (optional)"
        }
      ]
    },
    {
      "type": "buttons",
      "name": "Buttons",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Primary button" 
        },
        {
          "type": "text",
          "id": "button",
          "label": "Primary button label",
          "default": "Continue Shopping"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Link",
          "default": "/collections/all"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
             {
                "value": "default",
                "label": "Default"
             },
             {
                "value": "ghost",
                "label": "Outline"
             },
             {
                "value": "link",
                "label": "Link"
             }
          ],
          "default": "default"
        },
        {
          "type": "checkbox",
          "id": "button_show_arrow",
          "label": "Show arrow",
          "default": true
       },
       {
        "type": "header",
        "content": "Secondary button"
      },
      {
        "type": "text",
        "id": "secondary_button",
        "label": "Secondary button label"
      },
      {
        "type": "url",
        "id": "secondary_button_link",
        "label": "Link"
      },
      {
        "type": "select",
        "id": "secondary_button_style",
        "label": "Button style",
        "options": [
           {
              "value": "default",
              "label": "Default"
           },
           {
              "value": "ghost",
              "label": "Outline"
           },
           {
              "value": "link",
              "label": "Link"
           }
        ],
        "default": "default"
      },
      {
        "type": "checkbox",
        "id": "secondary_button_show_arrow",
        "label": "Show arrow",
        "default": true
     }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "heading"
      },
      {
        "type": "text"
      },
      {
        "type": "buttons"
      }
    ]
  }
}
{% endschema %}