/*Home Page Image With Text container  */

.home-page-image-with-text-container .text-container {
    background-color: #981121;
}
.text-container > .\#floating-content-wrapper > .\#floating-content  >.\#hero > :nth-child(2) {
    background-color: #e7e7e7;
    width: 486px;
    height: 74px;
    margin: 1em auto;
    
}