.\#main-password-footer {
    padding: 2.5rem;
    background-color: var(--main-password-footer-background-color);
    color: var(--main-password-footer-text-color);
    text-align: center;
}

.\#main-password-footer-social-list {
    margin-bottom: 1.5rem;
}

.\#main-password-footer-social-list .\#social-profiles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.\#main-password-footer-social-list .\#social-profiles-item {
    opacity: 0.64;
    transition: 0.3s;
}

.\#main-password-footer-social-list .\#social-profiles-item:hover {
    opacity: 1;
}

.\#main-password-footer-social-list .\#social-profiles-item-icon .\#icon {
    width: 1.2rem;
    height: 1.2rem;
}

.\#main-password-footer-copy {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    font-size: 0.85rem;
}

.\#main-password-footer-shopify-icon {
    height: 1rem;
    width: auto;
    vertical-align: sub;
}