.\#main-password-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    color: var(--main-password-header-text-color);
    background-color: var(--main-password-header-background-color);
}

.\#main-password-header-title {
    word-break: break-all;
}

@media (max-width: 991px) {
    .\#main-password-header {
        flex-direction: column;
        gap: 1rem;
    }
}

.\#main-password-header-login {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.45rem;
    font-size: 0.9rem;
    opacity: 0.7;
    font-weight: var(--font-body-weight-bold);
}

.\#main-password-header-login .\#icon {
    width: 1.2rem;
    height: 1.2rem;
    stroke-width: 3;
}

.\#main-password-header-login:hover {
    opacity: 1;
}

.\#main-password-header-modal {
    padding: 2rem;
}

.\#main-password-header-modal-heading {
    margin-bottom: 1.5rem;
}

.\#main-password-header-modal-footer {
    margin-top: 1.5rem;
    font-size: 0.9rem;
}